<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta name="viewport" content="width=device-width,initial-scale=1">
<% include ../partials/meta.ejs %>
</head>

<body>
  <% include ../partials/head.ejs %>
  <div class="container">


  <form  method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="<%=blog.title%>" required />
    </div>
    <div class="form-group">
      <label for="body">Content</label>
      <textarea class="form-control" id="body" rows="6" name="body" required><%=blog.body%></textarea>
    </div>
    <div class="form-group">
      <label for="imgurl">Image URL</label>
      <input type="url" class="form-control" id="imgurl" name="img" value="<%=blog.img%>" />
    </div>
    <div class="form-group">
      <label>Comments</label> <br/>
   <% for(let x=0 ; x<blog.comments.length ; x++) { %>
     <div class="form-group">
      <input type="text" class="form-control" name="comments"
     value="<%=blog.comments[x]%>" readonly/>
     <input type="submit" class="btn btn-dark"" formaction="/blogs/comments/<%=x%>/<%=blog.id%>?_method=PATCH"value="DELETE">

   </div>
   <%}%>

     </div>
     <button type="submit" formaction="/blogs/<%=blog.id%>?_method=PUT"class="btn btn-primary">Update</button>
    <form>
      </div>
      <% include ../partials/footer.ejs %>
</body>

</html>
