<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<% include ../partials/meta.ejs %>
</head>

<body>
  <% include ../partials/head.ejs %>
  <h1 class="text-center">Create your Blog here!</h1>
<div class="container">


  <form class="" action="/blogs" method="post">
<!-- title -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <input type="text" class="form-control" placeholder="Your title" name="title">
    </div>
<!-- content -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Content</span>
  </div>
  <textarea class="form-control" name="body" aria-label="With textarea" rows=8></textarea>
</div>
<!-- image url -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">ImageURL</span>
  </div>
  <input type="url" class="form-control" placeholder="Image url" name="img">
</div>
    <!-- Content:<textarea name="body" rows="8" cols="80"></textarea><br /> -->
    <!-- Img URL:<input type="url" name="img" /><br /> -->
<!-- created by -->

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Author</span>
  </div>
  <input type="text" class="form-control" value="<%=username%>"  name="createdBy" readonly>
</div>

    <input type="Submit" name="" value="SUBMIT" />
  </form>
  </div>
  <div class="container text-center">

  <ul class="list-group">
    <% if(blogs.length>0){ %>
    <% for(let i = 0 ; i < blogs.length ; i++){ %>
        <form id="newpageform" class="list-group-item list-group-item-action" action="/blogs/<%=blogs[i].id%>?_method=DELETE" method="post">
     <a href="/blogs/<%=blogs[i].id%>"> <%=blogs[i].title%> </a><br/>
    <a href="/blogs/<%=blogs[i].id%>/edit" class="btn btn-dark">Edit</a>

      <input type="submit" class="btn btn-dark" name="" value="Delete">
    </form>

    <% } %>
    <% } %>
  </ul>
<br>
<br>
</div>
<% include ../partials/footer.ejs %>
</body>

</html>
